.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
node_modules/
*.js.map
*.zip
.idea/
.vscode/
!.vscode/extensions.json
.env
package-lock.json
pnpm-lock.yaml
yarn.lock
cypress/videos/
cypress/screenshots/
lighthouse-report.html
*.min.*
